body{
 background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BXqCX6b/snow-shape-loop-blue-background-4k-resolution-ultra-hd-uhd_4khyqqrl__F0000.png);
 
}
#gift-input{
    background-color: white;
    width: 200px;
    height: 20px;
}